<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>ToDos API</title>
      <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Passion+One|Oswald" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/styles.css">
  </head>
  <head>
  </head>
  <body>
    <header>
      <h1 class="header">ToDos API Documentation</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="main-description">
                    This is a sample API for ToDos, it's prepared to answer requests from any domain with hardcoded data and is also not preserving any data.
                </p>
            </div>
        </div>
        {{{body}}}
    </div>
    <footer></footer>
  </body>
</html>
