<!DOCTYPE html>
<html>
  <header>
      <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Passion+One|Unica+One" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
          h1,h2,h3,h4,h5 {
              font-weight: normal;
          }

          h1 {
              font-family: 'Passion One', sans-serif;
          }

          span {
              color: #b9b9b9;
          }

          h2,h3,h4,h5 {
              font-family: 'Montserrat', serif;
          }

          body {
              font-family: 'Montserrat', sans-serif;
          }

          code {
              font-family: 'Cutive Mono', monospace;
          }
      </style>
  </header>
  <head>
    <meta charset="utf-8">
    <title>ToDos API</title>
  </head>
  <body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to the ToDos API DOCUMENTATION</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Get all tasks <span>[GET /api/todos]</span></h2>
                <h3>Response <span>[JSON]</span></h3>
                <pre>
                    <code>
[{
    id: 83515750,
    description: "A new task",
    completed: false
},
{
    id: 1098762,
    description: "other task",
    completed: false
}]
                    </code>
                </pre>
            </div>
        </div>

                <h2>Get a single task <span>[GET /api/todos/:id]</span></h2>
                <h3>Response <span>[JSON]</span></h3>
                <pre>
        <code>
[{
    id: 83515750,
    description: "A new task",
    completed: false
},
{
    id: 1098762,
    description: "other task",
    completed: false
}]
                </code>
              </pre>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">

                <h2>Create a new task <span>[POST /api/todos]</span></h2>
                <h3>Request <span>[JSON]</span></h3>
                <p>
                    // Requires the next data attributes <br/>
                    @ description: &lt; String &gt; <br/>
                    @ completed: &lt; Boolean &gt; <br/>
                </p>

                <pre>
                <code>
        {
          description: "A new task",
          completed: false
        }
                </code>
              </pre>
            </div>
        </div>

        <h3>Response <span>[JSON]</span></h3>
        <pre>
        <code>
{
    id: 83515750,
    description: "A new task",
    completed: false
}
        </code>
      </pre>

        <h2>Update a task <span>[PUT /api/todos/:id]</span></h2>
        <h3>Request <span>[JSON]</span></h3>
        <p>
            // Requires the next data attributes <br/>
            @ description: &lt; String &gt; <br/>
            @ completed: &lt; Boolean &gt; <br/>
        </p>

        <pre>
        <code>
{
  description: "A new task",
  completed: true
}
        </code>
      </pre>


        <h3>Response <span>[JSON]</span></h3>
        <pre>
        <code>
{
    id: 83515750,
    description: "A new task",
    completed: true
}
        </code>
      </pre>


        <h2>Delete a task <span>[DELETE /api/todos/:id]</span></h2>
        <h3>Response <span>[JSON]</span></h3>
        <pre>
        <code>
{
    deleted: true
}
        </code>
      </pre>

    </div>


  </body>
</html>
