<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDos API</title>
  </head>
  <body>
    <h1>Welcome to the ToDos API DOCUMENTATION</h1>

    <br/>
    <br/>
    <h2>Get all tasks <span>[GET /api/todos]</span></h2>
    <h3>Response <span>[JSON]</span></h3>
      <pre>
        <code>
[{
    id: 83515750,
    description: "A new task",
    completed: false
},
{
    id: 1098762,
    description: "other task",
    completed: false
}]
        </code>
      </pre>

    <h2>Get a single task <span>[GET /api/todos/:id]</span></h2>
    <h3>Response <span>[JSON]</span></h3>
    <pre>
        <code>
[{
    id: 83515750,
    description: "A new task",
    completed: false
},
{
    id: 1098762,
    description: "other task",
    completed: false
}]
        </code>
      </pre>

    <h2>Create a new task <span>[POST /api/todos]</span></h2>
    <h3>Request <span>[JSON]</span></h3>
    <p>
        // Requires the next data attributes <br/>
        @ description: &lt; String &gt; <br/>
        @ completed: &lt; Boolean &gt; <br/>
    </p>

      <pre>
        <code>
{
  description: "A new task",
  completed: false
}
        </code>
      </pre>


    <h3>Response <span>[JSON]</span></h3>
      <pre>
        <code>
{
    id: 83515750,
    description: "A new task",
    completed: false
}
        </code>
      </pre>

    <h2>Update a task <span>[PUT /api/todos/:id]</span></h2>
    <h3>Request <span>[JSON]</span></h3>
    <p>
        // Requires the next data attributes <br/>
        @ description: &lt; String &gt; <br/>
        @ completed: &lt; Boolean &gt; <br/>
    </p>

      <pre>
        <code>
{
  description: "A new task",
  completed: true
}
        </code>
      </pre>


    <h3>Response <span>[JSON]</span></h3>
      <pre>
        <code>
{
    id: 83515750,
    description: "A new task",
    completed: true
}
        </code>
      </pre>


    <h2>Delete a task <span>[DELETE /api/todos/:id]</span></h2>
    <h3>Response <span>[JSON]</span></h3>
    <pre>
        <code>
{
    deleted: true
}
        </code>
      </pre>

  </body>
</html>
